h1{
  font-size: 75px;
}
h1{
  padding-left: 251px;
}
h1{
  font-family: 'Shrikhand', cursive;
}
index.html{
  background-color: Red
}
a{
  padding-left: 100px
}
body{
  background-color: lightblue
}
a{
  font-size: 50px;
}
a{
  font-family: 'Faster One', cursive;
}
